<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quartz.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <legend>TODOS APP</legend>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Today's tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_all' %}">All tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_done' %}">Done tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_not_done' %}">Not Done tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_todo' %}">Create task</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} 
    {% endblock %}
  </body>
</html>
