{% extends 'base.html' %}
{% block title %}Show tasks{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="alert alert-dismissible alert-warning" style="max-width: 30rem; margin: 0 auto; margin-top: 20px;">
            <h4 class="alert-heading" style="text-align: center; margin-left: 70px;">Do you want to delete "{{ form.title }}" task?</h4>
            <button type="submit" class="btn btn-success" style="width: 100px; height: 50px; margin-left: 160px; display: block;">Yes</button>
            </br>
            <a href="{% url 'index' %}" class="btn btn-primary" style="width: 100px; height: 50px; margin-left: 160px; display:flexbox;">No</a>
        </div>
    </form>

{% endblock %}

